<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connnectionStrings>
      <add name="EventsDB" connectionString="Server=.;Database=EventsDatabase;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    </connnectionStrings>
</configuration>